@import '../../Avariable.scss';
.background {
	width: 100%;
	height: 100vh;
	@include background-login;
	
	& .login {
		position: absolute;
		width: 30%;
		height: 90vh;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		background-color: white;
		border-radius: 10px;
		border: 4px solid black;
		box-shadow: 0px 0px 20px rgb(221, 221, 221);
		padding: 40px 10px;

		& .head-login {
			margin-top: 20px;
			text-align: center;
			& .title {
				font-size: 1.8rem;
				font-weight: 600;
			}
			& .description {
				font-size: 0.8rem;
			}
		}
		& .login-form {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			& .register-forgot {
				display: flex;
				justify-content: space-between;
				padding: 0 40px;

				& p {
					font-size: 0.8rem;
					font-weight: 550;
					color: rgb(2, 2, 2);
					opacity: 0.8;
					&:hover {
						opacity: 1;
						font-weight: 600;
						transition: all linear 0.2s;
						cursor: pointer;
					}
				}
			}
			& .login-now {
				background: none;
				border: none;
				width: 200px;
				margin: 0 auto;
				display: block;
				& img {
					border-radius: 50%;
					display: block;
					width: 100%;
					transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
					&:hover {
						border: 5px solid rgba(255, 166, 0, 0.589);
						transform: scale(1.1);
						transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
					}
				}
			}
			& .login-input {
				width: 80%;
				height: 70px;
				border: 2px solid rgb(44, 44, 44);
				border-radius: 15px;
				margin: 20px auto;
				padding: 10px;
				transition: all ease 0.2s;

				&:focus-within {
					box-shadow: 0 0 4px rgb(78, 78, 78);
					transition: all ease 0.1s;
				}

				& .text-input {
					font-size: 0.8rem;
					font-weight: 700;
					color: rgb(116, 116, 116);
				}

				& input {
					padding: 0 5px;
					width: 100%;
					height: 37px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border: none;
					outline: none;
					font-size: 1rem;
					font-weight: 600;
				}
			}
		}
		& .login-bottom {
			position: absolute;
			width: 100%;
			height: 23%;
			border-radius: 60px 0 4px 4px;
			bottom: 0;
			left: 0;
			background-color: rgb(107, 208, 255);
			& .text-rule {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 80%;
				text-align: center;
				transform: translate(-50%, -50%);
			}
		}
	}
}
