@media screen and (max-width: 1280px) {
	.App .background .login {
		width: 40%;
	}
	.App .general .body-general .body-chat .nav-body-chat {
		display: none;
	}
}
@media screen and (max-width: 968px) {
	.App .background .login {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.App .background .login {
		width: 60%;
	}
}
@media screen and (max-width: 1045px) and (min-width: 600px) {
	.App .general .body-general .body-chat {
		width: calc(100vw - 290px);
	}
}
@media screen and (max-width: 320px) {
	.App .layouts .header .nav-left {
		width: 60px;
	}
	.App .layouts .app-body {
		position: absolute;
		width: calc(100vw - 60px);
		height: calc(100vh - 25px);
	}
}
@media screen and (max-width: 600px) {
	.App .background .login {
		width: 80%;
	}
	 .form-addRoom {
		width: 100%;
	}

	.background .login .head-login .description,
	.App .general .nav-general,
	.home .nav-home {
		display: none;
	}
	.App .background .login .login-form .login-now {
		width: 50%;
	}
	.App .general .body-general .nav-body-general {
		border-radius: 10px 0 0 0;
	}
	.App .home .body-home .nav-body-home .nav-home--tag {
		padding-left: 5px;

		height: 65px;
	}
	.App .home .body-home .nav-body-home {
		height: 65px;
		border-radius: 10px 0 0 0;
	}
}
